@charset "utf-8";
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

/*reset*/
*{margin: 0; padding: 0;box-sizing: border-box;}
html{height: 100%; overflow-y: scroll;}
li,dl,dt,dd,ol{list-style: none}
img,input[type=image],input[type=radio],input[type=checkbox]{border:none; vertical-align: middle;line-height: 0;}
body{font: 12px/1.3 Nanum Gothic,'나눔고딕',Malgun Gothic,'맑은고딕',sans-serif;color: #666;height: 100%;}
h1,h2,h3,h4,h5,h6{font-size: 100%;font-weight: normal;}
.blind,legend{position: absolute;left: -9999px;}
fieldset,select{border: none}
a,a:hover,a:focus{text-decoration: none;color: #666;}
input,select{border-collapse: collapse;}
.clearFix:after{content: "";display: block;clear: both;}
.claerFix{*zoom:1;}
button,input[type=image],select,input[type=button],input[type=submit]{cursor: pointer;}
button{border: none;background: none;}
button span{text-indent: -9999px;display: inline-block}
address, em, strong{font-style: normal;}
[class*=wrapIn]{margin: 0 auto;padding: 0 9px;max-width: 1200px}
input[type=text],input[type=password],input[type=button],input[type=submit]{border:none;}
.m_0{margin: 0;}
.ta_r{text-align: right;}
.c_28{color: #282828 !important;}
.line:before{content: "";display: block; background: url(../images/common/line.png) 0 0 repeat-x;width: 100%;height: 8px;position: absolute;top:-40px; left: 0;}
h3{font-size: 30px;text-transform: uppercase;color: #282828;position: relative;margin-bottom: 45px;}
h3:before{content:"";width: 20px; height: 5px;position: absolute;bottom:-8px; left: 0;background-color: #fd6602;}
/*[class^="Obullet"]{position: relative;}*/
[class^="Obullet"]{position: relative;display: inline-block;}
[class="ObulletT"]:before {content:"";display:block;position: absolute;width: 59px; height: 5px;top: 0; right: 0;background-color: #fd6602;}
[class="ObulletB"]:before {content:"";display:block;position: absolute;width: 59px; height: 5px;bottom: 0; left: 0;background-color: #fd6602;}
[class="ObulletB_big"]:before {content:"";display:block;position: absolute;width: 59px; height: 10px;bottom: 0; left: 0;background-color: #fd6602;}
.boxShadow a span{position: relative; display: inline-block;}
.boxShadow:hover span:after{width: 100%; height: 100%;position: absolute; content: "";top:0; left:0;box-shadow: inset 0 0 0 5px rgba(0,0,0,0.2);}
@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?19782255');
  src: url('../font/fontello.eot?19782255#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?19782255') format('woff2'),
       url('../font/fontello.woff?19782255') format('woff'),
       url('../font/fontello.ttf?19782255') format('truetype'),
       url('../font/fontello.svg?19782255#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
img{max-width: 100%}

/*헤더*/
#header_wrap{ width: 100%;position: relative;background-color: #fff;border-bottom: 1px solid #eee;}
#header_wrap .skipMenu a{display: block;color: #fff; background-color: #000; height: 20px; text-align: center;font-weight: bold;position:absolute; top:-50px; left:0;}
#header_wrap .skipMenu a:focus{top:0;}
.header .util_wrap{height: 31px;line-height:29px;border: 1px solid #eee;position: relative;}
.header .util_wrap .util_wrapIn{position: relative;}
.header .util_wrap .util_wrapIn .friendly_site{width: 530px;}
.header .util_wrap .util_wrapIn .friendly_site ul li{float: left;margin-left: 34px;height: 31.5px;}
.header .util_wrap .util_wrapIn .friendly_site ul li:first-child{margin: 0;}
.header .util_wrap .util_wrapIn .friendly_site ul li a:first-child{display: block}
.header .util_wrap .util_wrapIn .friendly_site ul li:hover{border-bottom: 5px solid #f0a055;color: #282828;}
.header .util_wrap .util_wrapIn .snsLng_wrap{position: absolute;top:0; right:26px;}
.header .util_wrap .util_wrapIn .snsLng_wrap .sns_wrap {position: relative;float: left;}
.header .util_wrap .util_wrapIn .snsLng_wrap .sns_wrap:before{content:"";position: absolute;top:5px; left: 0;width: 1px; height: 18px; background:#eee;}
.header .util_wrap .util_wrapIn .snsLng_wrap .sns_wrap li{float: left;}
.header .util_wrap .util_wrapIn .snsLng_wrap .sns_wrap li:first-child{margin-left: 16px;}
.header .util_wrap .util_wrapIn .snsLng_wrap .sns_wrap li:first-child+li+li+li+li{margin-right: 16px;}
.header .util_wrap .util_wrapIn .snsLng_wrap .sns_wrap li a{padding: 0 10px;}
.header .util_wrap .util_wrapIn .snsLng_wrap .lang_wrap{position: relative;float: right;text-align: center;width: 63px;z-index: 2;}
.header .util_wrap .util_wrapIn .snsLng_wrap .lang_wrap:before{content:"";position: absolute;top:5px; left: -2px;width: 1px; height: 18px; background:#eee;}
.header .util_wrap .util_wrapIn .snsLng_wrap .sns_wrap li{float: left;}
.header .util_wrap .util_wrapIn .snsLng_wrap .lang_wrap>button{line-height: 10px;height:29px;padding: 6px 19px;background: url("../images/common/arrow_lang.png") 50px 11px no-repeat;}
.header .util_wrap .util_wrapIn .snsLng_wrap .lang_wrap>button+ul{display: none;}
.header .util_wrap .util_wrapIn .snsLng_wrap .lang_wrap>button.on{background-color: #282828;}
.header .util_wrap .util_wrapIn .snsLng_wrap .lang_wrap ul{box-shadow:0 0 2px 3px rgba(0,0,0,0.1);}
.header .util_wrap .util_wrapIn .snsLng_wrap .lang_wrap ul>li>a{display: block;padding: 0 20px;border-bottom: 1px solid #eee;background-color: #fff;}
.header .util_wrap .util_wrapIn .snsLng_wrap .lang_wrap ul>li>a:hover{background-color: #eee;}
.gnb_wrap .gnb_wrapIn>ul>li.gnb_lang{background-color: #eee;display: none;}
.gnb_wrap .gnb_wrapIn .lang_wrap{text-align: center;width: 63px;z-index: 2;display: block !important;margin-left: 127px;position: relative;top:0;}
.gnb_wrap .gnb_wrapIn .lang_wrap>button{line-height: 10px;height:29px;padding: 6px 19px;background: #fff url("../images/common/arrow_lang.png") 50px 11px no-repeat;}
.gnb_wrap .gnb_wrapIn .lang_wrap>button+ul{display: none;position: absolute;top:40px; right:0; width: 62px;}
.gnb_wrap .gnb_wrapIn .lang_wrap>button.on{background-color: #282828;}
.gnb_wrap .gnb_wrapIn .lang_wrap ul{box-shadow:0 0 2px 3px rgba(0,0,0,0.1);}
.gnb_wrap .gnb_wrapIn .lang_wrap ul>li>a{display: block;border-bottom: 1px solid #eee;background-color: #fff;}
.gnb_wrap .gnb_wrapIn .lang_wrap ul>li>a:hover{background-color: #eee;}
.gnb_wrap .gnb_wrapIn>ul>li>div.lang_wrap{border: none;}
.header .header_wrapIn{position: relative;padding-bottom: 29px;padding-top:38px}
.header .header_wrapIn h1{;margin-left:20px;}
.header .header_wrapIn .iconMenu{position: absolute;top:38px; right:0;width: 50%;}
.header .header_wrapIn .iconMenu ul{text-align: right;}
.header .header_wrapIn .iconMenu li{float: left;width: 33.33%;text-align: center;}
.header .header_wrapIn .iconMenu ul li.search button {color: #666 }
.header .header_wrapIn .iconMenu ul li a{display: block;width:100px;margin: 0 auto;}
.header .header_wrapIn .iconMenu ul li em{display: block;}
.open_menu_mobile{display: none;padding-top: 6px;font-size:16px;padding-left: 40px;background: #fff url(../images/common/ico_menu.png) 11px 4px no-repeat;color: #282828;}
.mobile_close{display: none;background: url(../images/common/icon_x.png) 0 0 no-repeat;}
.sch_wrap{display: none;z-index:5;background-color: #fff;position: absolute;top: 148px; left: 0;width: 100%; height: 77px ;box-shadow:0 4px 10px -2px rgba(0,0,0,0.4);}
.sch_wrap .sch_wrapIn{padding: 26px 187px 26px 20px;position: relative;}
.sch_wrap input[type=text]{;width:100% ;padding: 10px 10px}
.sch_wrap label{position: absolute;top:34px; left: 7px; font-style: italic; font-size: 20px; color: #ccc; font-weight: bold}
.sch_wrap input[type=button]{text-indent: -9999px;width: 22px; height: 22px;background: url(../images/common/icon_x_sch.png) 0 0 no-repeat;position: absolute;top:32px; right:153px;}
.sch_wrap input[type=submit]{width: 116px; height: 40px;background: #363636 url(../images/main/arrow_sch.png) 91% center no-repeat; color: #fff; font-weight: bold; font-size: 14px;text-align: left;padding: 0 11px;position: absolute;top: 23px; right: 18px;}
.sch_wrap em{padding-left: 30px;margin-top: -5px;}
.sch_wrap img{margin-top: -4px;}

.gnb_wrap{z-index:2;position: relative;background-color: #fd6602; height: 51px; width: 100%; border-bottom: 1px solid #eee;line-height: 51px;}
.subGnb_wrapIn{margin: 0 auto; padding: 17px 30px;z-index:10000;position: relative;}
.gnb_wrap .gnb_wrapIn>ul{height: 70px;}
.gnb_wrap .gnb_wrapIn>ul>li{float: left;}
.gnb_wrap .gnb_wrapIn>ul>li:first-child,.gnb_wrap .gnb_wrapIn>ul>li.lang{display: none;}
.gnb_wrap .gnb_wrapIn>ul>li:first-child a{display: block;padding-left: 45px;position: relative;}
.gnb_wrap .gnb_wrapIn>ul>li:first-child a:after{position: absolute;top: 0;left: 18px;content:"\e800";font-family: "fontello" ; font-size: 20px;}
.gnb_wrap .gnb_wrapIn>ul>li>a{position: relative;font-weight: bold;display: block;color: #fff;font-size: 14px;padding: 0 20px;}
.gnb_wrap .gnb_wrapIn>ul>li>a:hover,.gnb_wrap ul li a:focus,.gnb_wrap ul li a.on{background-color: #f9893f;height: 50px;border-bottom: 5px solid #fff;}
.gnb_wrap .gnb_wrapIn>ul>li>a:before{display: inline-block;content:url(../images/common/bar_gnb.png);position: absolute;top:7px; right:0;}
.gnb_wrap .gnb_wrapIn>ul>li>div{display: none;position: absolute;top:51px; left:0;height: 220px;width: 100%;background: #fff url(../images/common/subGnb_c_line.png) center center no-repeat;z-index: 10;border-bottom: 1px solid #ccc;}
.gnb_wrap .gnb_wrapIn>ul>li>div ul{display:inline-block;width: 48%;vertical-align: top;}
.gnb_wrap .gnb_wrapIn>ul>li>div ul li {border-bottom: 1px solid #eee;font-size: 16px}
.gnb_wrap .gnb_wrapIn>ul>li>div div ul:first-child li:first-child+li+li+li,.gnb_wrap .gnb_wrapIn>ul>li>div div ul:first-child+ul li:first-child+li,.gnb_wrap .gnb_wrapIn>ul>li>div ul li.bd_n{border: none;}
.gnb_wrap .gnb_wrapIn>ul>li>div ul li a{position: relative;padding: 14px 0;color: #282828;display: block;line-height: 18px;}
.gnb_wrap .gnb_wrapIn>ul>li.gnb_lang a{padding: 5px 0}
.gnb_wrap .gnb_wrapIn>ul>li>div ul li a:hover,.gnb_wrapIn>ul>li>div ul li a:focus{text-decoration: underline;}
.gnb_wrap .gnb_wrapIn>ul>li>div ul li a:before{display: inline-block;content:url(../images/common/arrow_gnbMenu.png);position: absolute;top:15px; right:0;}
.gnb_wrap .gnb_wrapIn>ul>li>div>div>ul:first-child{margin-right: 3.5%;}
.gnb_wrap .gnb_wrapIn>ul>li.gnb_lang div.lang_wrap ul li{padding:0 ;}
.gnb_mobile_bar{display: none;background-color: #fff;padding: 11px 0;}
.ico_f_show_gnb {
    /*display: none*/;
    width: 35px;
    height: 35px;
    background-color: #888;
    border: 0;
    border-radius: 3px;
    position: absolute;
    right: 10px;
    top: 20px
}
/*딤 시작*/
.pop_dim{background: url(../images/common/bg_dim.png) 0 0;position: fixed;width: 100%;z-index: 3; height: 100%; left: 0; top: 0;overflow: auto;}
.pop_dim .pop_inner_wrap{display: table; width: 100%;max-width: 600px; margin: 0 auto;padding: 10px;}
.pop_inner{display: table-cell;vertical-align: middle;}
/*딤 종료*/
/*로그인 시작*/
.login_wrap{position: fixed;margin-top: 177px; left: 50%;background-color: #fff;width: 688px; height: 387px;padding: 34px 40px 41px;z-index:10;margin-left: -345px;}
.login_wrap .log_logo,.join_wrap .log_logo{margin-bottom: 14px;}
.login_wrap .inp_sec{float: right;width: 248px;position: relative;}
.login_wrap .inp_sec:before{content: ""; width: 1px; height: 100%;background-color: #eee; display: block;position: absolute;top:0; left:-51px;}
.login_wrap .inp_sec h4 {font-size: 16px; font-weight: bold;margin-bottom: 20px;}
.login_wrap .inp_sec input[type=text],.login_wrap .inp_sec input[type=password]{width: 100%; border: 1px solid #ccc;padding: 5px 0;margin-bottom: 14px;}
.login_wrap .inp_sec label{color: #282828;font-weight: 800;font-size: 14px;padding-bottom: 5px;display: block;}
.login_wrap .inp_sec a{display: block;font-size: 14px; color: #fd6602; font-weight: 800;margin-bottom: 19px;}
.login_wrap .inp_sec a:hover,.login_wrap .inp_sec a:focus{text-decoration: underline;}
.login_wrap .inp_sec p.logBtn input[type=submit]{background: url(../images/common/box_log.png) 0 0 no-repeat;color: #fff; font-size: 14px;border: none;width: 78px; height: 36px;cursor: pointer;}

.login_wrap .join_sec{float: left;width: 255px;}
.login_wrap .join_sec h4{font-size: 16px; font-weight: 800;margin-bottom: 21px;}
.login_wrap .join_sec>a{display: block;width: 255px; height: 36px; background: url(../images/common/bg_box_login_1.png) 0 0 no-repeat;margin-bottom: 9px;padding: 10px 16px;}
.login_wrap .join_sec>a.join_btn2{background-image: url(../images/common/bg_box_login_2.png);}
.login_wrap .join_sec>a.join_btn2 span{color: #666;}
.login_wrap .join_sec>a.join_btn3{background-image: url(../images/common/bg_box_login_3.png);padding: 12px 16px;}
.login_wrap .join_sec>a.join_btn3 span{margin-top: -4px;}
.login_wrap .join_sec>a span{display: inline-block;padding-left: 20px; color: #fff; font-size: 14px; font-weight: 800;margin-top: -2px;}
.login_wrap .join_sec>a img{vertical-align: top;}
.login_wrap .join_sec p{text-align: right; font-size: 14px;}
.login_wrap .join_sec p a{color: #282828; font-weight: bold;}
.login_wrap .join_sec p a:hover{text-decoration: underline;}
.btnCloseLayer{position: absolute;top:16px; right:16px;cursor: pointer;text-indent: -9999px;background: url(../images/common/x_log.png) 0 0 no-repeat;width: 17px; height: 17px;}
/*로그인종료*/
/*회원가입 시작*/
.join_wrap{position: fixed;margin-top: 177px; left: 50%;background-color: #fff;width: 688px; height: 479px;padding: 34px 40px 41px;z-index:10;margin-left: -345px;}
.join_wrap .log_logo{margin-bottom: 14px;}
.join_wrap .inp_sec{float: right;width: 248px;position: relative;}
.join_wrap .inp_sec:before{content: ""; width: 1px; height: 100%;background-color: #eee; display: block;position: absolute;top:0; left:-51px;}
.join_wrap .inp_sec h4 {font-size: 16px; font-weight: bold;margin-bottom: 20px;}
.join_wrap input[type=text],.join_wrap input[type=password]{width: 100%; border: 1px solid #ccc;padding: 5px 0;margin-bottom: 14px;}
.join_wrap label{color: #282828;font-weight: 800;font-size: 14px;padding-bottom: 5px;display: block;}
.join_wrap .inp_sec a{display: block;font-size: 14px; color: #fd6602; font-weight: 800;margin-bottom: 19px;}
.join_wrap .inp_sec a:hover,.join_wrap .inp_sec a:focus{text-decoration: underline;}
.join_wrap .inp_sec p.logBtn input[type=button]{background: url(../images/common/box_log.png) 0 0 no-repeat;color: #fff; font-size: 14px;border: none;width: 78px; height: 36px;cursor: pointer;}
.join_wrap .join_sec{float: left;width: 255px;}
.join_wrap .join_sec h4{font-size: 16px; font-weight: 800;margin-bottom: 20px;}
.join_wrap .join_sec p.agree{padding-bottom: 20px;font-weight: bold; font-size: 14px;}
.join_wrap .join_sec p.joinBtn input[type="submit"]{background: url(../images/common/box_join.png) 0 0 no-repeat;border:none;font-size: 16px; color: #fff;width: 64px; height: 36px;cursor: pointer;}
.join_wrap .join_sec p.joinBtn input[type="reset"]{border:none; background-color: initial;font-size: 16px; color: #282828;margin-left: 20px;margin-bottom: 16px;cursor: pointer;}
.join_wrap .join_sec p.infoMail_chk{font-size: 14px; font-weight: bold; color: #282828;}
/*.btnCloseLayer{position: absolute;top:16px; right:16px;cursor: pointer}*/
/*회원가입 종료*/
/*헤더종료*/
/*네비게이션 시작*/
.common_navi{width: 100%; height:49px; background: url(../images/common/bg_info.png) 0 0 repeat-x; line-height: 49px;font-size: 14px; font-weight: bold; color: #999;}
.common_navi a{color: #999;}
.common_navi a:hover,.common_navi a:focus{text-decoration: underline;}
/*네비게이션 종료*/
/*그레이박스 시작*/
.row_1{margin-bottom: 78px;}
.row_1 .sevenMenu{float: right; width: 32.2%;position: relative;}
.row_1 .sevenMenu>div{display: none;}
.row_1 .sevenMenu h4{display: inline-block;width: 50%;}
.row_1 .sevenMenu h4 a{position: relative;display: block;width:100%;text-align: center;}
/*.row_1 .sevenMenu h4 a:before{content: "";width: 114px; height: 1px; background-color: #1c1b1b;display: block;position: absolute;top:96%; left:20%; right:30%;}*/
.row_1 .sevenMenu.line:before{display: none;}

.row_1 .sevenMenu h4.tabBtn_1+div{display: block;}
.row_1 .sevenMenu h4.tabBtn_2{position: absolute;top:0; left:50%;}
.row_1 .sevenMenu .seven_wrap{width: 100%;height: 552px;background-color: #393939;position: relative;}
.row_1 .sevenMenu .seven_wrap ul {display: table;width: 100%;}
.row_1 .sevenMenu .seven_wrap ul li{float: left;width: 50%;display: table-cell;border:solid #1c1b1b;border-width: 0 1px 1px 0}
.row_1 .sevenMenu .seven_wrap ul li a{font-size: 14px; font-weight: bold;display:inline-block;width: 100%; text-align: center;height: 124px; padding: 22px 0;color: #fff;}
.row_1 .sevenMenu .seven_wrap ul li:first-child+li+li+li+li+li+li a{border-width:0 1px 0 1px;margin-left: 1px;}
.row_1 .sevenMenu .seven_wrap ul li a img{margin-bottom: 13px;}
.row_1 .sevenMenu .seven_wrap p.seven_moreBtn a{text-transform: uppercase;position: absolute;bottom:3px;left:0;text-align: right; width: 100%; height: 50px;line-height: 53px;color: #fd6602;font-weight: bold;border-top: 1px solid #1c1b1b;}
.row_1 .sevenMenu .seven_wrap p.seven_moreBtn a span{padding-right: 16px;}
.row_1 .sevenMenu .sevenWhts_wrap{;width: 100%; height: 395px;background-color: #393939;position: relative;padding: 20px 20px 28px;text-align: center;z-index: 1}
.row_1 .sevenMenu .sevenWhts_wrap form fieldset{z-index: 1000;}
.row_1 .sevenMenu .sevenWhts_wrap button.seven_whtsList{width: 97%; height: 52px;text-align: left;background: #fff url(../images/main/arrow_bottom_dark.png) 98% center no-repeat;padding: 0 5px;font-size: 14px;}
.row_1 .sevenMenu .sevenWhts_wrap div{margin-bottom: 24px;}
.row_1 .sevenMenu .sevenWhts_wrap p{width: 97%; text-align: left;color: #fff;font-size: 14px;font-style: italic; margin: 0 auto 6px;}
.row_1 .sevenMenu .sevenWhts_wrap input[type=text]{;width: 97%; height: 52px;/*background: #fff url(../images/main/calendar.png) 98% center no-repeat*/;cursor: pointer;}
.row_1 .sevenMenu .sevenWhts_wrap .p_r{position: relative;}
.row_1 .sevenMenu .sevenWhts_wrap .ui-datepicker-trigger{text-indent: -9999px;position: absolute;top:37px; right:14px;width: 27px; height: 27px;background: #fff url(../images/main/calendar.png) 0 0 no-repeat }
.row_1 .sevenMenu .sevenWhts_wrap .ui-datepicker-prev span {color: #f00;background: url(../images/common/2_arrow_prev.png) 0 0 no-repeat;}
.row_1 .sevenMenu .sevenWhts_wrap button.submit{width: 130px; height: 44px;line-height: 44px; color: #fff;background-color: #fd6602; }
.row_1 .sevenMenu .sevenWhts_wrap button.submit em img{padding-left: 30px;margin-top:-2px;}
.row_1 .sevenMenu .sevenWhts_wrap div ul{z-index: 2;display: none;position: absolute;top: 101px ; left: 25px; background-color: #fff;width:86.7%;}
.row_1 .sevenMenu .sevenWhts_wrap div ul a{display: block;text-align: left;;width: 100%; padding: 5px 5px;color: #282828; font-size: 14px;}
.row_1 .sevenMenu .sevenWhts_wrap div ul a:hover,.row_1 .sevenMenu .sevenWhts_wrap div ul a:focus{color: #fff; background-color: #f9893f;}
/*그레이박스 종료*/

/*플랜유어스테이 시작*/
.plan_wrapIn{margin-bottom: 107px;}
.plan_wrapIn .plan_col_1{float: left;width: 37.25%;padding-left: 24px;padding-top: 81px;}
.plan_wrapIn .plan_col_1 a{display: inline-block;;width: 100%;}
.plan_wrapIn .plan_col_1 div{float: left;margin-right: 29px;}
.plan_wrapIn .plan_col_1 p{float: left;}
.plan_wrapIn .plan_col_1 p span{display: block;}
.plan_wrapIn .plan_col_1 p span:first-child{font-weight: 800; font-size: 26px; color: #fd6602;padding-bottom:14px;}
.plan_wrapIn .plan_col_1 p span:first-child+span{font-weight: 800; font-size: 16px;color: #282828;}
.plan_wrapIn .plan_col_1 p span:first-child+span+span{font-weight: 800; font-size: 16px;color: #fd6602;}
.plan_wrapIn .plan_col_2{float: left;width:36.16%;padding-top: 40px;}
.plan_wrapIn .plan_col_2 ul:first-child{margin-bottom: 44px;position: relative;}
.plan_wrapIn .plan_col_2 ul:first-child:before{content:""; width: 100%; height: 1px; left: 0; bottom:-22px; position: absolute;background-color: #eee;}
.plan_wrapIn .plan_col_2 ul li {float: left;width: 33.33%;height: 81px;text-align: center;position: relative;}
.plan_wrapIn .plan_col_2 ul li:before{content:url(../images/common/c_line.png); width: 1px; height: 82px; top: 0; left: 0; position: absolute;}
.plan_wrapIn .plan_col_2 ul li:first-child:before{display: none;}
.plan_wrapIn .plan_col_2 ul li a{display: block;width: 50%;margin: 0 auto;padding: 5px 0;}
.plan_wrapIn .plan_col_2 ul li a:hover{background-color: #eee; text-decoration: underline;}
.plan_wrapIn .plan_col_2 ul li span{display: block;padding-bottom: 22px;}
.plan_wrapIn .plan_col_3{float: right;width:21.41%;background-color: #fd6602;text-align: center;padding: 16px;color: #fff;position: relative;}
.plan_wrapIn .plan_col_3:before{content:""; width: 5px; height: 100%; top: 0; left: 0; position: absolute;background-color: #ad521e;}
.plan_wrapIn .plan_col_3 span{font-weight: bold; font-size: 26px;display: block;text-transform: uppercase;margin-bottom: 18px;}
.plan_wrapIn .plan_col_3 img{margin-bottom: 24px;}
.plan_wrapIn .plan_col_3 p{font-size: 14px;}
.plan_wrapIn .plan_col_3 p.percent{font-weight: 800;font-size: 36px;}
/*플랜유어스테이 종료*/
/*푸터 시작*/
#footerwrap{background-color: #393939;min-height: 132px;padding: 34px 0;}
#footerwrap .footer_wrapIn{position: relative;}
#footerwrap .footer_wrapIn h2{position: absolute; top:0; left:0;}
#footerwrap .footer_wrapIn div {color: #fff;padding-left: 121px;line-height: 16px;}
/*푸터 종료*/


/*미디어쿼리*/
@media (max-width:1140px) {
.plan_wrapIn .plan_col_1{padding-top: 10px;}
.plan_wrapIn .plan_col_1 a{text-align: center;}
.plan_wrapIn .plan_col_1 div{margin: 0 0 26px 0;width: 100%; text-align: center;}
.plan_wrapIn .plan_col_1 p{width: 100%;}
}

@media (min-width:1024px) {
.gnb_wrap{left: auto !important;}
}


@media (max-width:1024px) {
.col_tablet_1{width: 8.333%;}
.col_tablet_2{width: 16.666%;}
.col_tablet_3{width: 24.999%;}
.col_tablet_4{width: 33.33%;}
.col_tablet_5{width: 41.665%;}
.col_tablet_6{width: 49.998%;}
.col_tablet_7{width: 58.331%;}
.col_tablet_8{width: 58.331%;}
.col_tablet_9{width: 74.997%;}
.col_tablet_10{width: 83.33%;}
.col_tablet_11{width: 91.663%;}
.col_tablet_12{width: 100%!important;}
.sns_wrap{display: none;}
.visual_wrap .visual_wrapIn{font-size: 40px;}
.row_1{margin-bottom: 48px;}
.row_2{padding-top: 30px;}
.row_2.line:before{top:0;}
.row_1 .main_prdt_wrap{display: block;margin:0 auto;float: none;margin-bottom: 100px;}
.row_1 .sevenMenu{width: 100%; float: none;max-width: 760px; margin:0 auto;}
.row_1 .sevenMenu h4.tabBtn_1,.row_1 .sevenMenu h4.tabBtn_2{width: 25%;display: inline-block;}
.row_1 .sevenMenu h4.tabBtn_2{left:25%;}
.row_1 .sevenMenu.line:before{display: block;width: 105%; left: -14px;}
.row_1 .sevenMenu .seven_wrap{height: 302px; }
.row_1 .sevenMenu .seven_wrap ul li{width: 24.99%;}
.row_1.wrapIn{padding-right: 20px !important;padding-left: 20px !important;overflow: hidden;}
.plan_wrapIn .plan_col_1{width: 100%;}
.plan_wrapIn .plan_col_1 a{text-align: left;}
.plan_wrapIn .plan_col_1 div{margin: 0 29px 0 0;width: auto; text-align: left;}
.plan_wrapIn .plan_col_1 p{width: auto;}
.plan_wrapIn .plan_col_2{width: 67%}
.plan_wrapIn .plan_col_3{width: 29.41%}
}
@media (max-width:800px) {
.util_wrap{display: none;}
.header .header_wrapIn h1{width: 100%;background-color: #fd6602;padding: 11px 0 11px 20px;margin: 0;}
h1 a{display: block;width: 65px;}
h1 img{width: 100%;}
.header .header_wrapIn .iconMenu li a p+p,.header .header_wrapIn .iconMenu li button em{display: none;}
.header .header_wrapIn .iconMenu li button img{max-width: 100%;}
.header .header_wrapIn{padding: 0;}
.gnb_wrap {transition: all 1s linear;position: fixed;z-index: 21;left: -500px;top: 0; width: 200px;height: 100%;background-color: #fff; border-left: 1px solid #d8d8d8; line-height: 50px;    box-shadow: 5px 5px 10px 0 rgba(0,0,0,0.2);}
.subGnb_wrapIn{padding: 0;}
/*.gnb_wrap{;background:none;border-top: 1px solid #eee;line-height: 50px;}*/
.gnb_wrapIn{padding: 0;z-index: 4;}
.gnb_wrap .gnb_wrapIn>ul>li {float: none;border-bottom: 1px solid #eee;}

.gnb_wrap .gnb_wrapIn>ul>li:first-child,.gnb_wrap .gnb_wrapIn>ul>li.lang{display: block;}
.gnb_wrap .gnb_wrapIn>ul>li>a{color: #282828}
.gnb_wrap .gnb_wrapIn>ul>li>a:hover,.gnb_wrap .gnb_wrapIn>ul>li>a:focus{color: #fff;}
.gnb_wrap .gnb_wrapIn>ul>li>a:before,.gnb_wrap .gnb_wrapIn>ul>li>div ul li a:before{display: none;}
.gnb_wrap .gnb_wrapIn>ul>li>a:hover, .gnb_wrap ul li a:focus, .gnb_wrap ul li a.on{border: none;background-color: #282828;color: #fff;}
.gnb_wrap .gnb_wrapIn>ul>li>div{display: none;position: static;height: auto;background: none;}
.gnb_wrap .gnb_wrapIn>ul>li>div ul li{border: none;font-size: 12px;padding:0 10px;}
.gnb_wrap .gnb_wrapIn>ul>li>div ul {width: 100%;}
.gnb_wrap .gnb_wrapIn>ul>li>div ul li.gnb_lang{padding: 0;}
.header .header_wrapIn .iconMenu{z-index: 2;top:60px;}
.header .header_wrapIn .iconMenu ul li {border:solid #eee;border-width: 0 0 0 1px}
.header .header_wrapIn .iconMenu ul li a p:first-child{width: 23px; margin: 2px auto 0;}
.header .header_wrapIn .iconMenu ul li:first-child+li a p:first-child{width: 29px;}
.header .header_wrapIn .iconMenu ul li.search button strong{display: block;width: 26px;}
.sch_wrap{top: 99px; height: 52px ;}
.sch_wrap .sch_wrapIn{padding:6px 100px 0px 10px;}
.sch_wrap label{top:17px;font-size: 15px;}
.sch_wrap input[type=button]{width: 15px; height: 15px;background: url(../images/common/icon_x_sch_m.png) 0 0 no-repeat;top:17px; right:71px;}
.sch_wrap input[type=submit]{width: 31px;background: none; color: #282828;top: 4px;padding: 0;}
.gnb_wrap .gnb_wrapIn>ul>li.gnb_lang{display: block;}
.wrap .visual_wrap{background: url(../images/main/bg_visual_m.png) center 0 no-repeat ;height: 185px ;}
.wrap .visual_wrap .visual_wrapIn{line-height: 136px;font-size: 30px;}
#container .row_1 .main_prdt_wrap{border: 10px solid #fff;}
#container .row_1 .main_prdt_wrap:before{right:-17.5px;top: 21px;}
.gnb_mobile_bar,.open_menu_mobile{display: block;}
.mobile_close {display: block;position: absolute;right:-42px;top: 3px;width: 35px;height: 35px;}
.dim_gnbwrap {position: fixed;left: 0;top: 0;width: 100%;height: 100%;background: url(../images/common/bg_dim.png)0 0;z-index: -1;display: none}
.plan_wrapIn .plan_col_3 {display: none;}
.plan_wrapIn .plan_col_1{padding-top: 0;}
.plan_wrapIn .plan_col_2{width: 100%;}
.plan_wrapIn .plan_col_2 ul li {width: 100%;height: 42px;border-bottom: 1px solid #eee;margin-top: 5px;}
.plan_wrapIn .plan_col_2 ul li a{width: 100%;height: 36px;position: relative;padding-left: 70px;}
.plan_wrapIn .plan_col_2 ul li a span{position: absolute;top:8px;left: 20px;width: 20px;padding: 0;}
.plan_wrapIn .plan_col_2 ul li a span img{margin: 0 auto;}
.plan_wrapIn .plan_col_2 ul li a p{text-align: left;line-height: 26px;font-size: 14px;color: #282828;}
.plan_wrapIn .plan_col_2 ul li:before,.plan_wrapIn .plan_col_2 ul:first-child:before{display: none;}
.plan_wrapIn .plan_col_2 ul:first-child{margin: 0;border-top: 1px solid #eee;}
.plan_wrapIn .plan_col_2 ul:first-child li:first-child+li+li a span{width: 12px;}

#footerwrap{padding: 20px 0;}
#footerwrap .footer_wrapIn h2{position: static; text-align: center;margin-bottom: 21px;}
#footerwrap .footer_wrapIn div {padding-left:0;text-align: center}
#footerwrap .footer_wrapIn div address,
#footerwrap .footer_wrapIn div address+p,
#footerwrap .footer_wrapIn div address+p+p{display: none;}
.header .header_wrapIn .iconMenu ul li a{width: auto;}
}
@media (max-width:640px) {
.col_mobile_1{width: 8.333%;}
.col_mobile_2{width: 16.666%;}
.col_mobile_3{width: 24.999%;}
.col_mobile_4{width: 33.33%;}
.col_mobile_5{width: 41.665%;}
.col_mobile_6{width: 49.998%;}
.col_mobile_7{width: 58.331%;}
.col_mobile_8{width: 58.331%;}
.col_mobile_9{width: 74.997%;}
.col_mobile_10{width: 83.33%;}
.col_mobile_11{width: 91.663%;}
.col_mobile_12{width: 100%;}
.row_1 .sevenMenu{max-width: 380px;}
.row_1 .sevenMenu h4.tabBtn_1,.row_1 .sevenMenu h4.tabBtn_2{width: 50%;display: inline-block;}
.row_1 .sevenMenu h4.tabBtn_2{left:50%;}
.row_1 .sevenMenu.line:before{display: block;}
.row_1 .sevenMenu .seven_wrap{height: 552px; }

.row_1 .sevenMenu .seven_wrap ul li{width: 50%;}
.row_1 .sevenMenu .seven_wrap ul li a {font-size: 12px;}
h3{font-size: 22px;}
.row_1 .main_prdt_frame .main_prdt_Slide  li div {padding: 40px 20px;}
.row_1 .main_prdt_frame .main_prdt_Slide  li div a h4 {font-size: 16px;}
.row_1 .main_prdt_frame .main_prdt_Slide div a:first-child+a{display: none;}
.plan_wrapIn .plan_col_1{padding: 0;}
.plan_wrapIn .plan_col_1 div{margin: 0 11px 0 0;width: 30%; }
.plan_wrapIn .plan_col_1 div img{width: 100%;max-width: 136px}
.plan_wrapIn .plan_col_1 p span:first-child{font-size: 20px;}
.plan_wrapIn .plan_col_1 p span:first-child+span,.plan_wrapIn .plan_col_1 p span:first-child+span+span{font-size: 14px;}
.sch_wrap input[type=submit]{margin-left: 0;/*width: 12%;*/}
#container .row_1 h2{text-align: center;position: relative;font-size: 30px;margin-bottom: 80px;}
#container .row_1 h2:before{bottom:-40px;top:auto;}
}
