@charset "utf-8";
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

/*reset*/
*{margin: 0; padding: 0;box-sizing: border-box;}
html{height: 100%; overflow-y: scroll;}
li,dl,dt,dd,ol{list-style: none}
img,input[type=image],input[type=radio],input[type=checkbox]{border:none; vertical-align: middle;line-height: 0;}
body{font: 12px/1.3 Nanum Gothic,'나눔고딕',Malgun Gothic,'맑은고딕',sans-serif;color: #666;height: 100%;}
h1,h2,h3,h4,h5,h6{font-size: 100%;font-weight: normal;}
.blind,legend{position: absolute;left: -9999px;}
fieldset,select{border: none}
a,a:hover,a:focus{text-decoration: none;color: #666;}
input,select{border-collapse: collapse;}
.clearFix:after{content: "";display: block;clear: both;}
.claerFix{*zoom:1;}
button,input[type=image],select{cursor: pointer;}
button{border: none;background: none;}
button span{text-indent: -9999px;display: inline-block}
address, em, strong{font-style: normal;}
[class*=wrapIn]{margin: 0 auto;padding: 0 9px;max-width: 1200px}
input[type=text],input[type=password]{border:none;}
.m_0{margin: 0;}
.ta_r{text-align: right;}
.c_28{color: #282828 !important;}
.line:before{content: "";display: block; background: url(../images/common/line.png) 0 0 repeat-x;width: 100%;height: 8px;position: absolute;top:-40px; left: 0;}
h3{font-size: 30px;text-transform: uppercase;color: #282828;position: relative;margin-bottom: 45px;}
h3:before{content:"";width: 20px; height: 5px;position: absolute;top: 39px; left: 0;background-color: #fd6602;}
/*[class^="Obullet"]{position: relative;}*/
[class^="Obullet"]{position: relative;display: inline-block;}
[class="ObulletT"]:before {content:"";display:block;position: absolute;width: 59px; height: 5px;top: 0; right: 0;background-color: #fd6602;}
[class="ObulletB"]:before {content:"";display:block;position: absolute;width: 59px; height: 5px;bottom: 0; left: 0;background-color: #fd6602;}
[class="ObulletB_big"]:before {content:"";display:block;position: absolute;width: 59px; height: 10px;bottom: 0; left: 0;background-color: #fd6602;}
.boxShadow a span{position: relative; display: inline-block;}
.boxShadow:hover span:after{width: 100%; height: 100%;position: absolute; content: "";top:0; left:0;box-shadow: inset 0 0 0 5px rgba(0,0,0,0.2);}


/*헤더*/
#header_wrap{ width: 100%;position: relative;background-color: #fff;border-bottom: 1px solid #eee;}
#header_wrap .skipMenu a{display: block;color: #fff; background-color: #000; height: 20px; text-align: center;font-weight: bold;position:absolute; top:-50px; left:0;}
#header_wrap .skipMenu a:focus{top:0;}
.header .util_wrap{height: 31px;line-height:29px;border: 1px solid #eee;position: relative;}
.header .util_wrap .util_wrapIn{position: relative;}
.header .util_wrap .util_wrapIn .friendly_site{width: 530px;}
.header .util_wrap .util_wrapIn .friendly_site ul li{float: left;margin-left: 34px;height: 31.5px;}
.header .util_wrap .util_wrapIn .friendly_site ul li:first-child{margin: 0;}
.header .util_wrap .util_wrapIn .friendly_site ul li a:first-child{display: block}
.header .util_wrap .util_wrapIn .friendly_site ul li:hover{border-bottom: 5px solid #f0a055;color: #282828;}
.header .util_wrap .util_wrapIn .snsLng_wrap{position: absolute;top:0; right:26px;}
.header .util_wrap .util_wrapIn .snsLng_wrap .sns_wrap {position: relative;float: left;}
.header .util_wrap .util_wrapIn .snsLng_wrap .sns_wrap:before{content:"";position: absolute;top:5px; left: 0;width: 1px; height: 18px; background:#eee;}
.header .util_wrap .util_wrapIn .snsLng_wrap .sns_wrap li{float: left;}
.header .util_wrap .util_wrapIn .snsLng_wrap .sns_wrap li:first-child{margin-left: 16px;}
.header .util_wrap .util_wrapIn .snsLng_wrap .sns_wrap li:first-child+li+li+li+li{margin-right: 16px;}
.header .util_wrap .util_wrapIn .snsLng_wrap .sns_wrap li a{padding: 0 10px;}
.header .util_wrap .util_wrapIn .snsLng_wrap .lang_wrap{position: relative;float: right;text-align: center;width: 63px;}
.header .util_wrap .util_wrapIn .snsLng_wrap .lang_wrap:before{content:"";position: absolute;top:5px; left: -2px;width: 1px; height: 18px; background:#eee;}
.header .util_wrap .util_wrapIn .snsLng_wrap .sns_wrap li{float: left;}
.header .util_wrap .util_wrapIn .snsLng_wrap .lang_wrap>a{display: block;padding: 0 19px;background: url("../images/common/arrow_lang.png") 50px 11px no-repeat;}
.header .util_wrap .util_wrapIn .snsLng_wrap .lang_wrap>a+ul{display: none;}
.header .util_wrap .util_wrapIn .snsLng_wrap .lang_wrap>a:hover{background-color: #282828;}
.header .util_wrap .util_wrapIn .snsLng_wrap .lang_wrap ul{box-shadow: 3px 3px 3px lightgray;}
.header .util_wrap .util_wrapIn .snsLng_wrap .lang_wrap ul>li>a{display: block;padding: 0 20px;border-bottom: 1px solid #eee;}
.header .util_wrap .util_wrapIn .snsLng_wrap .lang_wrap ul>li>a:hover{background-color: #eee;}
.header .header_wrapIn{position: relative;margin-bottom: 29px;padding-top:38px}
.header .header_wrapIn h1{;margin-left:20px;}
.header .header_wrapIn .iconMenu{position: absolute;top:38px; right:0;width: 50%;}
.header .header_wrapIn .iconMenu ul{text-align: right;}
.header .header_wrapIn .iconMenu li{float: left;margin-left: 20%;text-align: center;}
.sch_wrap{display: none;background-color: #fff;position: absolute;top: 148px; left: 0;width: 100%; height: 77px ;box-shadow:0 4px 10px -2px rgba(0,0,0,0.4);z-index: 2}
.sch_wrap .sch_wrapIn{padding: 26px 0;}
.sch_wrap input[type=text]{font-style: italic; font-size: 20px; color: #ccc; font-weight: bold;width:83.33% ;}
.sch_wrap button[type=submit]{width: 116px; height: 40px;background-color: #363636; color: #fff; font-weight: bold;margin-left: 24px; font-size: 14px;}
.sch_wrap button[type=submit] em{padding-left: 30px;margin-top: -5px;}
.sch_wrap img{margin-top: -4px;}
.gnb_wrap{position: relative;background-color: #fd6602; height: 51px; width: 100%; border-bottom: 1px solid #eee;line-height: 51px;}
.subGnb_wrapIn{margin: 0 auto; padding: 17px 30px;}
.gnb_wrap .gnb_wrapIn>ul>li{float: left;}
.gnb_wrap .gnb_wrapIn>ul>li>a{position: relative;font-weight: bold;display: block;color: #fff;font-size: 14px;padding: 0 20px;}
.gnb_wrap .gnb_wrapIn>ul>li>a:hover,.gnb_wrap ul li a:focus{background-color: #f9893f;height: 50px;border-bottom: 5px solid #fff;}
.gnb_wrap .gnb_wrapIn>ul>li>a:before{display: inline-block;content:url(../images/common/bar_gnb.png);position: absolute;top:7px; right:0;}
.gnb_wrap .gnb_wrapIn>ul>li>div{display: none;position: absolute;top:51px; left:0;height: 220px;width: 100%;background: #fff url(../images/common/subGnb_c_line.png) center center no-repeat;}
.gnb_wrap .gnb_wrapIn>ul>li>div ul{display:inline-block;width: 48%;vertical-align: top;}
.gnb_wrap .gnb_wrapIn>ul>li>div ul li {border-bottom: 1px solid #eee;}
.gnb_wrap .gnb_wrapIn>ul>li>div div ul:first-child li:first-child+li+li+li,.gnb_wrap .gnb_wrapIn>ul>li>div div ul:first-child+ul li:first-child+li,.gnb_wrap .gnb_wrapIn>ul>li>div ul li.bd_n{border: none;}
.gnb_wrap .gnb_wrapIn>ul>li>div ul li a{position: relative;padding: 14px 0;color: #282828;display: block;line-height: initial;}
.gnb_wrap .gnb_wrapIn>ul>li>div ul li a:hover,.gnb_wrapIn>ul>li>div ul li a:focus{text-decoration: underline;}
.gnb_wrap .gnb_wrapIn>ul>li>div ul li a:before{display: inline-block;content:url(../images/common/arrow_gnbMenu.png);position: absolute;top:15px; right:0;}
.gnb_wrap .gnb_wrapIn>ul>li>div>div>ul:first-child{margin-right: 3.5%;}
/*로그인 시작*/
.login_wrap{position: fixed;margin-top: 44px; left: 32%;background-color: #fff;width: 688px; height: 387px;padding: 34px 40px 41px;z-index:10;}
.login_wrap .log_logo,.join_wrap .log_logo{margin-bottom: 14px;}
.login_wrap .inp_sec{float: right;width: 248px;position: relative;}
.login_wrap .inp_sec:before{content: ""; width: 1px; height: 100%;background-color: #eee; display: block;position: absolute;top:0; left:-51px;}
.login_wrap .inp_sec h4 {font-size: 16px; font-weight: bold;margin-bottom: 20px;}
.login_wrap .inp_sec input[type=text],.login_wrap .inp_sec input[type=password]{width: 100%; border: 1px solid #ccc;padding: 5px 0;margin-bottom: 14px;}
.login_wrap .inp_sec label{color: #282828;font-weight: 800;font-size: 14px;padding-bottom: 5px;display: block;}
.login_wrap .inp_sec a{display: block;font-size: 14px; color: #fd6602; font-weight: 800;margin-bottom: 19px;}
.login_wrap .inp_sec a:hover,.login_wrap .inp_sec a:focus{text-decoration: underline;}
.login_wrap .inp_sec p.logBtn input[type=button]{background: url(../images/common/box_log.png) 0 0 no-repeat;color: #fff; font-size: 14px;border: none;width: 78px; height: 36px;cursor: pointer;}

.login_wrap .join_sec{float: left;width: 255px;}
.login_wrap .join_sec h4{font-size: 16px; font-weight: 800;margin-bottom: 21px;}
.login_wrap .join_sec>a{display: block;width: 255px; height: 36px; background: url(../images/common/bg_box_login_1.png) 0 0 no-repeat;margin-bottom: 9px;padding: 10px 16px;}
.login_wrap .join_sec>a.join_btn2{background-image: url(../images/common/bg_box_login_2.png);}
.login_wrap .join_sec>a.join_btn2 span{color: #666;}
.login_wrap .join_sec>a.join_btn3{background-image: url(../images/common/bg_box_login_3.png);padding: 12px 16px;}
.login_wrap .join_sec>a.join_btn3 span{margin-top: -4px;}
.login_wrap .join_sec>a span{display: inline-block;padding-left: 20px; color: #fff; font-size: 14px; font-weight: 800;margin-top: -2px;}
.login_wrap .join_sec>a img{vertical-align: top;}
.login_wrap .closeWindow{position: absolute;top:16px; right:16px;cursor: pointer}
/*로그인종료*/
/*회원가입 시작*/
.join_wrap{position: fixed;margin-top: 44px; left: 32%;background-color: #fff;width: 688px; height: 479px;padding: 34px 40px 41px;z-index:10;}
.join_wrap .log_logo{margin-bottom: 14px;}
.join_wrap .inp_sec{float: right;width: 248px;position: relative;}
.join_wrap .inp_sec:before{content: ""; width: 1px; height: 100%;background-color: #eee; display: block;position: absolute;top:0; left:-51px;}
.join_wrap .inp_sec h4 {font-size: 16px; font-weight: bold;margin-bottom: 20px;}
.join_wrap input[type=text],.join_wrap input[type=password]{width: 100%; border: 1px solid #ccc;padding: 5px 0;margin-bottom: 14px;}
.join_wrap label{color: #282828;font-weight: 800;font-size: 14px;padding-bottom: 5px;display: block;}
.join_wrap .inp_sec a{display: block;font-size: 14px; color: #fd6602; font-weight: 800;margin-bottom: 19px;}
.join_wrap .inp_sec a:hover,.join_wrap .inp_sec a:focus{text-decoration: underline;}
.join_wrap .inp_sec p.logBtn input[type=button]{background: url(../images/common/box_log.png) 0 0 no-repeat;color: #fff; font-size: 14px;border: none;width: 78px; height: 36px;cursor: pointer;}

.join_wrap .join_sec{float: left;width: 255px;}
.join_wrap .join_sec h4{font-size: 16px; font-weight: 800;margin-bottom: 20px;}
.join_wrap .join_sec p.agree{padding-bottom: 20px;font-weight: bold; font-size: 14px;}
.join_wrap .join_sec p.joinBtn input[type="submit"]{background: url(../images/common/box_join.png) 0 0 no-repeat;border:none;font-size: 16px; color: #fff;width: 64px; height: 36px;cursor: pointer;}
.join_wrap .join_sec p.joinBtn input[type="reset"]{border:none; background-color: initial;font-size: 16px; color: #282828;margin-left: 20px;margin-bottom: 16px;cursor: pointer;}
.join_wrap .join_sec p.infoMail_chk{font-size: 14px; font-weight: bold; color: #282828;}


.join_wrap .closeWindow{position: absolute;top:16px; right:16px;cursor: pointer}
/*회원가입 종료*/
/*헤더종료*/
/*네비게이션 시작*/
.common_navi{width: 100%; height:49px; background: url(../images/common/bg_info.png) 0 0 repeat-x; line-height: 49px;font-size: 14px; font-weight: bold; color: #999;}
.common_navi a{color: #999;}
.common_navi a:hover,.common_navi a:focus{text-decoration: underline;}
/*네비게이션 종료*/
/*그레이박스 시작*/
.row_1{margin-bottom: 78px;}
.row_1 .sevenMenu{float: right; width: 32.27%;position: relative;}
.row_1 .sevenMenu h4 a{position: relative;display: block;width:50%; height: 60px; background-color: #393939;color: #fff;font-weight: bold; font-size: 16px; text-align: center;line-height:60px ;}
.row_1 .sevenMenu h4 a:before{content: "";width: 114px; height: 1px; background-color: #1c1b1b;display: block;position: absolute;top:59px; left:20%; right:30%;}
.row_1 .sevenMenu h4.tabBtn_2 a{background: url(../images/main/opa_box_r.png) 0 0 no-repeat;line-height: 50px;position: absolute;top:10px; left:50%;}
.row_1 .sevenMenu h4.tabBtn_2 a:before{display: none;}
.row_1 .sevenMenu .seven_wrap{width: 100%;height: 552px;background-color: #393939;position: relative;}
.row_1 .sevenMenu .seven_wrap ul li{float: left;width: 50%;}
.row_1 .sevenMenu .seven_wrap ul li a{border: solid #1c1b1b;border-width:0 0 1px 1px;font-size: 14px; font-weight: bold;display:inline-block;width: 100%; text-align: center;height: 124px; padding: 22px 0;color: #fff;}
.row_1 .sevenMenu .seven_wrap ul li:first-child+li+li+li+li+li+li a{border-width:0 1px 0 1px;margin-left: 1px;}
.row_1 .sevenMenu .seven_wrap ul li a img{margin-bottom: 13px;}
.row_1 .sevenMenu .seven_wrap p.seven_moreBtn a{text-transform: uppercase;position: absolute;bottom:3px;left:0;text-align: right; width: 100%; height: 53px;line-height: 53px;color: #fd6602;font-weight: bold;border-top: 1px solid #1c1b1b;}
.row_1 .sevenMenu .seven_wrap p.seven_moreBtn a span{padding-right: 16px;}
.row_1 .sevenMenu .sevenWhts_wrap{width: 100%; height: 395px;background-color: #393939;position: relative;padding: 20px 20px 28px;text-align: center;}
.row_1 .sevenMenu .sevenWhts_wrap button.seven_whtsList{width: 97%; height: 52px;text-align: left;background: #fff url(../images/main/arrow_bottom_dark.png) 98% center no-repeat;padding: 0 5px;font-size: 14px;}
.row_1 .sevenMenu .sevenWhts_wrap div{margin-bottom: 24px;}
.row_1 .sevenMenu .sevenWhts_wrap p{width: 97%; text-align: left;color: #fff;font-size: 14px;font-style: italic; margin: 0 auto 6px;}
.row_1 .sevenMenu .sevenWhts_wrap input[type=text]{width: 97%; height: 52px;background: #fff url(../images/main/calendar.png) 98% center no-repeat;cursor: pointer;}
.row_1 .sevenMenu .sevenWhts_wrap button.submit{width: 130px; height: 44px;line-height: 44px; color: #fff;background-color: #fd6602; }
.row_1 .sevenMenu .sevenWhts_wrap button.submit em img{padding-left: 30px;margin-top:-2px;}
.row_1 .sevenMenu .sevenWhts_wrap div ul{display: none;position: absolute;top: 101px ; left: 25px; background-color: #fff;width:87%;}
.row_1 .sevenMenu .sevenWhts_wrap div ul a{display: block;text-align: left;;width: 100%; padding: 5px 5px;color: #282828; font-size: 14px;}
.row_1 .sevenMenu .sevenWhts_wrap div ul a:hover,.row_1 .sevenMenu .sevenWhts_wrap div ul a:focus{color: #fff; background-color: #f9893f;}
/*그레이박스 종료*/
/*플랜유어스테이 시작*/
.plan_wrapIn{margin-bottom: 107px;}
.plan_wrapIn .plan_col_1{float: left;width: 37.25%;padding-left: 24px;padding-top: 81px;}
.plan_wrapIn .plan_col_1 a{display: inline-block;;width: 100%;}
.plan_wrapIn .plan_col_1 div{float: left;margin-right: 29px;}
.plan_wrapIn .plan_col_1 p{float: left;}
.plan_wrapIn .plan_col_1 p span{display: block;}
.plan_wrapIn .plan_col_1 p span:first-child{font-weight: 800; font-size: 26px; color: #fd6602;padding-bottom:14px;}
.plan_wrapIn .plan_col_1 p span:first-child+span{font-weight: 800; font-size: 16px;color: #282828;}
.plan_wrapIn .plan_col_1 p span:first-child+span+span{font-weight: 800; font-size: 16px;color: #fd6602;}
.plan_wrapIn .plan_col_2{float: left;width:36.16%;padding-top: 40px;}
.plan_wrapIn .plan_col_2 ul:first-child{margin-bottom: 44px;position: relative;}
.plan_wrapIn .plan_col_2 ul:first-child:before{content:""; width: 100%; height: 1px; left: 0; bottom:-22px; position: absolute;background-color: #eee;}
.plan_wrapIn .plan_col_2 ul li {float: left;width: 33.33%;height: 81px;text-align: center;position: relative;}
.plan_wrapIn .plan_col_2 ul li:before{content:url(../images/common/c_line.png); width: 1px; height: 82px; top: 0; left: 0; position: absolute;}
.plan_wrapIn .plan_col_2 ul li:first-child:before{display: none;}
.plan_wrapIn .plan_col_2 ul li a{display: block;width: 50%;margin: 0 auto;padding: 5px 0;}
.plan_wrapIn .plan_col_2 ul li a:hover{background-color: #eee; text-decoration: underline;}
.plan_wrapIn .plan_col_2 ul li img{padding-bottom: 22px;}
.plan_wrapIn .plan_col_3{float: right;width:21.41%;background-color: #fd6602;text-align: center;padding: 16px;color: #fff;position: relative;}
.plan_wrapIn .plan_col_3:before{content:""; width: 5px; height: 100%; top: 0; left: 0; position: absolute;background-color: #ad521e;}
.plan_wrapIn .plan_col_3 span{font-weight: bold; font-size: 26px;display: block;text-transform: uppercase;margin-bottom: 18px;}
.plan_wrapIn .plan_col_3 img{margin-bottom: 24px;}
.plan_wrapIn .plan_col_3 p{font-size: 14px;}
.plan_wrapIn .plan_col_3 p.percent{font-weight: 800;font-size: 36px;}
/*플랜유어스테이 종료*/
/*푸터 시작*/
#footerwrap{background-color: #393939;height: 132px;padding: 34px 0;}
#footerwrap .footer_wrapIn{position: relative;}
#footerwrap .footer_wrapIn h2{position: absolute; top:0; left:0;}
#footerwrap .footer_wrapIn div {color: #fff;padding-left: 121px;line-height: 16px;}
/*푸터 종료*/