#container{margin: 0;padding-top: 40px;}
.h_wrapIn{position: relative;}
.col_1 {width: 53.3%; float: left;margin: 22px 0 77px 100px;position: relative;}
.col_1 .h2_wrap{width: 100%;font-size: 16px; font-weight: bold;color: #282828;padding-bottom: 23px;border-bottom: 1px solid #eee;margin-bottom: 23px;}
.col_1 .h2_wrap h2{font-size: 30px;margin-bottom: 17px;font-weight: 800;}
.col_1 .h2_wrap p{line-height: 22px;width: 63%;}
.col_1 .hallasan_cot_wrap{position: relative;}
.col_quick {position: absolute;top:45px;left:-100px;border-top: 5px solid #eee;text-align: center;width: 73px;}
.col_quick ul li{margin-bottom: 28px;}
.col_quick ul li:first-child+li+li+li+li+li{margin: 0;}
.col_quick ul li a,.sns_wrap_ha ul li a{transition: transform 200ms ease-in-out, -webkit-transform 200ms ease-in-out,background 200ms;display: inline-block;width: 26px; height: 35px; background: url(../images/common/cot_sns_1.png) 0 0 no-repeat;text-indent: -9999px;}
.hallasan_cot_wrap ul li a.sns_2{width: 27px; background-image: url(../images/common/cot_sns_2.png);}
.hallasan_cot_wrap ul li a.sns_3{width: 27px; background-image: url(../images/common/cot_sns_3.png);}
.hallasan_cot_wrap ul li a.sns_4{width: 28px; background-image: url(../images/common/cot_sns_4.png);}
.hallasan_cot_wrap ul li a.sns_5{width: 29px; background-image: url(../images/common/cot_sns_5.png);}
.hallasan_cot_wrap ul li a.sns_6{width: 29px; background-image: url(../images/common/cot_sns_6.png);}
.hallasan_cot_wrap ul li a:hover,.hallasan_cot_wrap ul li a:focus{transform: translateY(-5px);background:url(../images/common/cot_sns_1_ov.png) 0 0 no-repeat;}
.hallasan_cot_wrap ul li a.sns_2:hover,.hallasan_cot_wrap ul li a.sns_2:focus{background:url(../images/common/cot_sns_2_ov.png) 0 0 no-repeat;}
.hallasan_cot_wrap ul li a.sns_3:hover,.hallasan_cot_wrap ul li a.sns_3:focus{background:url(../images/common/cot_sns_3_ov.png) 0 0 no-repeat;}
.hallasan_cot_wrap ul li a.sns_4:hover,.hallasan_cot_wrap ul li a.sns_4:focus{background:url(../images/common/cot_sns_4_ov.png) 0 0 no-repeat;}
.hallasan_cot_wrap ul li a.sns_5:hover,.hallasan_cot_wrap ul li a.sns_5:focus{background:url(../images/common/cot_sns_5_ov.png) 0 0 no-repeat;}
.hallasan_cot_wrap ul li a.sns_6:hover,.hallasan_cot_wrap ul li a.sns_6:focus{background:url(../images/common/cot_sns_6_ov.png) 0 0 no-repeat;}
.sns_wrap_ha{text-align: center;display: none;margin-bottom: 10px;}
.sns_wrap_ha ul{display: inline-block;}
.sns_wrap_ha ul li {float: left;margin-left: 15px;}
.sns_wrap_ha ul li:first-child{margin: 0;}
.Navigation {display: none;position: relative;text-align: center;padding: 7px;max-width: 800px;margin: 0 auto;}
.Navigation a{font-size: 14px;color: #282828; font-weight: bold;}
.Navigation a:hover{text-decoration: underline;}
.Navigation .prevGumun {position: absolute;left: 10px;top:7px;font-size: 14px;background: url(../images/common/2_arrow_prev.png) 0 50% no-repeat;padding-left: 20px;}
.Navigation .nextSungsan {position: absolute;right: 10px;top:7px;background: url(../images/common/2_arrow_next.png) 100% 50% no-repeat;padding-right: 20px;}
.col_1 .hallasan_cot_wrap h3{margin-bottom: 30px;}
.col_1 .hallasan_cot_wrap .hallasan_dscp p {padding-top:24px; padding-bottom: 53px;font-size: 14px;line-height: 22px; ;}
.col_1 .hallasan_cot_wrap .hallasan_dscp p strong{color: #282828;}
.col_1 .hallasan_cot_wrap [class^="hallasan_road"] p{padding-top:31px; padding-bottom: 71px;font-size: 14px;line-height: 22px; ;}
.col_1 .hallasan_cot_wrap [class^="hallasan_road"] p span{display: block;font-size: 16px; font-weight: bold; color: #282828;text-decoration: underline;}
.col_1 .hallasan_cot_wrap [class^="hallasan_road"] p em{font-weight: bold;}
.col_1 .hallasan_cot_wrap [class^="hallasan_road"] p strong{color: #282828;}
.col_2 {float: right;margin-bottom: 127px;width: 28.11%;position: relative;}
.context_wrap.line:before{top: 0;}
.context_wrap{padding-top: 33px;margin-bottom: 81px;position: relative;}
.context_wrap dl dt{font-size: 20px; font-weight: bold; color: #282828;padding: 0 0 17px 5px;border-bottom: 1px solid #eee;}
.context_wrap dl dd a{display: block;padding: 24px 0;color: #282828;font-size: 16px;border-bottom: 1px solid #eee;}
.line_bom:after{content: "";display: block; background: url(../images/common/line.png) 0 0 repeat-x;width: 100%;height: 8px;position: absolute;bottom:-36px; left: 0;}
.context_wrap_t_m{display: none; position: relative;}
.mobile_close_ha{display: none;background: url(../images/common/icon_x.png) 0 0 no-repeat;display: block;position: absolute;right: 6px;top: 13px;width: 30px;height: 30px;}



.sevenMenu{float: right; width: 100%;;position: relative;margin-bottom: 50px;}
.sevenMenu>div{display: none;}

.sevenMenu h4{display: inline-block;width: 50%;}
.sevenMenu h4 a{position: relative;display: block;width:100%;}
.sevenMenu h4.tabBtn_1+div{display: block;}

.sevenMenu h4.tabBtn_2{position: absolute;top:0; left:50%;}
.sevenMenu h4.tabBtn_2 a:before{display: none;}
.sevenMenu .seven_wrap{width: 100%;height: 439px;background-color: #393939;position: relative;}
.sevenMenu .seven_wrap ul{display: table;width: 100%;}
.sevenMenu .seven_wrap ul li{float: left;width: 50%;display: table-cell;border:solid #1c1b1b;border-width: 0 1px 1px 0}
.sevenMenu .seven_wrap ul li a{font-size: 12px; font-weight: bold;display:inline-block;width: 100%; text-align: center;height: 98px; padding: 14px 0;color: #fff;}
.sevenMenu .seven_wrap ul li:first-child+li+li+li+li+li+li a{border-width:0 1px 0 1px;margin-left: 1px;}
.sevenMenu .seven_wrap ul li a img{margin-bottom: 13px;}
.sevenMenu .seven_wrap p.seven_moreBtn a{text-transform: uppercase;position: absolute;bottom:0;left:0;text-align: right; width: 100%; height: 44px;line-height: 48px;color: #fd6602;font-weight: bold;border-top: 1px solid #1c1b1b;}
.sevenMenu .seven_wrap p.seven_moreBtn a span{padding-right: 16px;}
.sevenMenu .sevenWhts_wrap{width: 100%; height: 395px;background-color: #393939;position: relative;padding: 20px 20px 28px;text-align: center;}
.sevenMenu .sevenWhts_wrap button.seven_whtsList{width: 97%; height: 52px;text-align: left;background: #fff url(../images/main/arrow_bottom_dark.png) 98% center no-repeat;padding: 0 5px;font-size: 14px;}
.sevenMenu .sevenWhts_wrap div{margin-bottom: 24px;}
.sevenMenu .sevenWhts_wrap p{width: 97%; text-align: left;color: #fff;font-size: 14px;font-style: italic; margin: 0 auto 6px;}
.sevenMenu .sevenWhts_wrap input[type=text]{width: 97%; height: 52px;;cursor: pointer;}
.sevenMenu .sevenWhts_wrap button.submit{width: 130px; height: 44px;line-height: 44px; color: #fff;background-color: #fd6602; }
.sevenMenu .sevenWhts_wrap button.submit em img{padding-left: 30px;margin-top:-2px;}
.sevenMenu .sevenWhts_wrap div ul{z-index: 3;display: none;position: absolute;padding: 0 20px;top: 101px; left: 0;width:100%;}
.sevenMenu .sevenWhts_wrap div ul li{ background-color: #fff;width: 97%;margin: 0 auto;}

.sevenMenu .sevenWhts_wrap div ul a{display: block;text-align: left;;width: 100%; padding: 5px 5px;color: #282828; font-size: 14px;}
.sevenMenu .sevenWhts_wrap div ul a:hover,.col_2 .sevenMenu .sevenWhts_wrap div ul a:focus{color: #fff; background-color: #f9893f;}
.sevenMenu .sevenWhts_wrap .p_r{position: relative;}
.sevenMenu .sevenWhts_wrap .ui-datepicker-trigger{text-indent: -9999px;position: absolute;top:37px; right:14px;width: 27px; height: 27px;background: #fff url(../images/main/calendar.png) 0 0 no-repeat }
.sevenMenu .sevenWhts_wrap .ui-datepicker-prev span {color: #f00;background: url(../images/common/2_arrow_prev.png) 0 0 no-repeat;}

.col_2 .cot_ad_wrap .ad_col_1{margin-bottom: 50px;}
.col_2 .cot_ad_wrap .ad_col_1 img{width: 100%;}

@media (max-width:1024px) {
.col_2 .context_wrap{display: none;}
.col_1 {float: none;margin:22px auto 77px; display: block; max-width: 631px}
.Navigation{display: block;}
.col_2 .sevenMenu{float: none;max-width: 760px; margin: 0 auto;}
.col_2 .sevenMenu h4 {width: 25%; display: inline-block;}
.col_2 .sevenMenu h4.tabBtn_2{left:25%;}
.col_2 .sevenMenu .seven_wrap{height: 241px; display: block;}
.col_2 .sevenMenu .seven_wrap ul li{display: table-cell;width: 24.99%;}
.cot_ad_wrap{display: none;}
.context_wrap_t_m{display: none;/*display: block*/;position: absolute;top:9px;left: 50%;width: 520px;text-align: left;transform: translateX(-50%); height: auto;padding: 40px ; border: 2px solid #c8c8c8 ; background-color: #eee;z-index: 9;margin-top: 39px;border-radius: 6px}
.context_wrap_t_m:before{content: url(../images/hallasan/summary.png); width: 30px; height: 21px; float: left;margin-top: -61px; margin-left: 46.5%; }
.context_wrap_t_m dt{text-align: center;font-size: 22px; line-height: 27px; color: #282828; padding-bottom: 11px; border-bottom: 1px solid #fff;font-weight: bold;}
.context_wrap_t_m dd a{display: block;margin: 22px 0; font-size: 16px; font-weight: bold;}
.context_wrap_t_m dd {border-bottom:1px solid #fff; }
.mobile_close_ha{display: none;}

}
@media (min-width:1024px) {
.context_wrap_t_m{display: none !important;}
}
@media (min-width:640px) {
	.fancybox-overlay {
		display: none !important;
	}
}
@media (max-width:860px) {	
.col_quick{display: none;}
.sns_wrap_ha {display: block;}
}


@media (max-width:640px) {
.Navigation .prevGumun ,.Navigation .nextSungsan{text-indent: -9999px;}
.col_1 .h2_wrap h2 {font-size: 20px; margin-bottom: 7px;}
.col_1 .h2_wrap p{font-size: 14px;width: 80%;}
.col_1 .hallasan_cot_wrap .hallasan_dscp p {padding-bottom: 20px;}
.col_2 .sevenMenu{max-width: 380px;}
.col_2 .sevenMenu h4.tabBtn_1,.col_2 .sevenMenu h4.tabBtn_2{width: 50%;display: inline-block;}
.col_2 .sevenMenu h4.tabBtn_2{left:50%;}
.col_2 .sevenMenu .seven_wrap ul li{width: 50%;}
.col_2 .sevenMenu .seven_wrap{height: 439px; }
.col_2 .sevenMenu .seven_wrap ul li a {font-size: 12px;}
.context_wrap_t_m {display: none;width: 100%; border: none; padding: 10px;height: 100%; top:-39px; border-radius: 0; position: fixed;}
.context_wrap_t_m:before{display: none;}
.context_wrap_t_m dt{font-weight: normal;text-align: left;}
.context_wrap_t_m dd a{font-weight: normal}
.mobile_close_ha{display: block;}
}
