#container{margin: 0;padding-top: 40px;}
.js_wrapIn{position: relative;}
.col_quick {position: absolute;top:45px;left:-100px;border-top: 5px solid #eee;text-align: center;width: 73px;}
.col_quick ul li{margin-bottom: 28px;}
.col_quick ul li:first-child+li+li+li+li+li{margin: 0;}
.col_quick ul li a,.sns_wrap_ha ul li a{display: inline-block;width: 26px; height: 27px; background: url(../images/common/cot_sns_1.png) 0 0 no-repeat;text-indent: -9999px;}
.col_quick ul li a.sns_2,.sns_wrap_ha ul li a.sns_2{width: 27px; background-image: url(../images/common/cot_sns_2.png);}
.col_quick ul li a.sns_3,.sns_wrap_ha ul li a.sns_3{width: 27px; background-image: url(../images/common/cot_sns_3.png);}
.col_quick ul li a.sns_4,.sns_wrap_ha ul li a.sns_4{width: 28px; background-image: url(../images/common/cot_sns_4.png);}
.col_quick ul li a.sns_5,.sns_wrap_ha ul li a.sns_5{width: 29px; background-image: url(../images/common/cot_sns_5.png);}
.col_quick ul li a.sns_6,.sns_wrap_ha ul li a.sns_6{width: 29px; background-image: url(../images/common/cot_sns_6.png);}
.sns_wrap_ha{text-align: center;display: none;}
.sns_wrap_ha ul{display: inline-block;}
.sns_wrap_ha ul li {float: left;margin-left: 15px;}
.sns_wrap_ha ul li:first-child{margin: 0;}
.col_1 {width: 53.3%; float: left;margin: 22px 0 77px 100px;position: relative}
.col_1 h2{width: 100%;font-weight:800;font-size: 36px; color: #f9893f;padding-bottom: 30px;border-bottom: 1px solid #eee;margin-bottom: 30px;}
.col_1 .jejuStry_cot_wrap {position: relative;}
.col_1 .jejuStry_cot_wrap h3{margin-bottom: 30px;}
.col_1 .jejuStry_cot_wrap div p {padding-top:20px; padding-bottom: 50px;font-size: 14px;line-height: 22px; ;}
.col_1.line_bom:after{content: "";display: block; background: url(../images/common/line.png) 0 0 repeat-x;width: 100%;height: 8px;position: absolute;bottom:-8px; left: 0;}


.col_2 {float: right;margin-bottom: 127px;width: 28.11%;position: relative;}
.col_2 .sevenMenu{float: right; width: 100%;position: relative;margin-bottom: 50px;}
.sevenMenu>div{display: none;}
.sevenMenu h4{display: inline-block;width: 50%;}
.col_2 .sevenMenu h4 a{position: relative;display: block;width:100%;}
.sevenMenu h4.tabBtn_1+div{display: block;}

.col_2 .sevenMenu h4.tabBtn_2{position: absolute;top:0; left:50%;}
.col_2 .sevenMenu h4.tabBtn_2 a:before{display: none;}
.col_2 .sevenMenu .seven_wrap{width: 100%;height: 439px;background-color: #393939;position: relative;}
.sevenMenu .seven_wrap ul{display: table;width: 100%;}
.col_2 .sevenMenu .seven_wrap ul li{float: left;width: 50%;display: table-cell;border:solid #1c1b1b;border-width: 0 1px 1px 0}
.col_2 .sevenMenu .seven_wrap ul li a{font-size: 12px; font-weight: bold;display:inline-block;width: 100%; text-align: center;height: 98px; padding: 14px 0;color: #fff;}
.col_2 .sevenMenu .seven_wrap ul li:first-child+li+li+li+li+li+li a{border-width:0 1px 0 1px;margin-left: 1px;}
.col_2 .sevenMenu .seven_wrap ul li a img{margin-bottom: 13px;}
.col_2 .sevenMenu .seven_wrap p.seven_moreBtn a{text-transform: uppercase;position: absolute;bottom:0;left:0;text-align: right; width: 100%; height: 44px;line-height: 48px;color: #fd6602;font-weight: bold;border-top: 1px solid #1c1b1b;}
.col_2 .sevenMenu .seven_wrap p.seven_moreBtn a span{padding-right: 16px;}
.col_2 .sevenMenu .sevenWhts_wrap{width: 100%; height: 395px;background-color: #393939;position: relative;padding: 20px 20px 28px;text-align: center;}
.col_2 .sevenMenu .sevenWhts_wrap button.seven_whtsList{width: 97%; height: 52px;text-align: left;background: #fff url(../images/main/arrow_bottom_dark.png) 98% center no-repeat;padding: 0 5px;font-size: 14px;}
.col_2 .sevenMenu .sevenWhts_wrap div{margin-bottom: 24px;}
.col_2 .sevenMenu .sevenWhts_wrap p{width: 97%; text-align: left;color: #fff;font-size: 14px;font-style: italic; margin: 0 auto 6px;}
.col_2 .sevenMenu .sevenWhts_wrap input[type=text]{width: 97%; height: 52px;/*background: #fff url(../images/main/calendar.png) 98% center no-repeat*/;cursor: pointer;}
.col_2 .sevenMenu .sevenWhts_wrap button.submit{width: 130px; height: 44px;line-height: 44px; color: #fff;background-color: #fd6602; }
.col_2 .sevenMenu .sevenWhts_wrap button.submit em img{padding-left: 30px;margin-top:-2px;}
.col_2 .sevenMenu .sevenWhts_wrap div ul{z-index: 2;display: none;position: absolute;top: 101px ; left: 25px; background-color: #fff;width:85%;}
.col_2 .sevenMenu .sevenWhts_wrap div ul a{display: block;text-align: left;;width: 100%; padding: 5px 5px;color: #282828; font-size: 14px;}
.col_2 .sevenMenu .sevenWhts_wrap div ul a:hover,.col_2 .sevenMenu .sevenWhts_wrap div ul a:focus{color: #fff; background-color: #f9893f;}
.sevenMenu .sevenWhts_wrap .p_r{position: relative;}
.sevenMenu .sevenWhts_wrap .ui-datepicker-trigger{text-indent: -9999px;position: absolute;top:37px; right:14px;width: 27px; height: 27px;background: #fff url(../images/main/calendar.png) 0 0 no-repeat }
.sevenMenu .sevenWhts_wrap .ui-datepicker-prev span {color: #f00;background: url(../images/common/2_arrow_prev.png) 0 0 no-repeat;}

.col_2 .cot_ad_wrap .ad_col_1{margin-bottom: 50px;}
.col_2 .cot_ad_wrap .ad_col_1 img{width: 100%;}
@media (max-width:1024px) {
.col_1 {float: none;margin:22px auto 77px; display: block; max-width: 631px}
.col_2 .sevenMenu{float: none;max-width: 760px; margin: 0 auto;}
.col_2 .sevenMenu h4 {width: 25%; display: inline-block;}
.col_2 .sevenMenu h4.tabBtn_2{left:25%;}
.col_2 .sevenMenu .seven_wrap{height: 241px; display: block;}
.col_2 .sevenMenu .seven_wrap ul li{display: table-cell;width: 24.99%;}
.cot_ad_wrap{display: none;}
}
@media (min-width:640px) {
	.fancybox-overlay {
		display: none !important;
	}
}
@media (max-width:860px) {	
.col_quick{display: none;}
.sns_wrap_ha {display: block;}
}
@media (max-width:640px) {
.col_1  h2 {font-size: 30px; margin-bottom: 24px;text-align: center;}
.col_2 .sevenMenu{max-width: 380px;}
.col_2 .sevenMenu h4.tabBtn_1,.col_2 .sevenMenu h4.tabBtn_2{width: 50%;display: inline-block;}
.col_2 .sevenMenu h4.tabBtn_2{left:50%;}
.col_2 .sevenMenu .seven_wrap ul li{width: 50%;}
.col_2 .sevenMenu .seven_wrap{height: 439px; }
.col_2 .sevenMenu .seven_wrap ul li a {font-size: 12px;}
}