.visual_wrap{background: url(../images/main/bg_visual.png) center 0 no-repeat;width: 100%;height: 298px;}
.visual_wrapIn{text-align: center;line-height: 237px; color: #fff; font-size: 50px; font-weight: 800;}
#container{margin-top: -60px;}
.main_prdt_wrap{position: relative;border: 20px solid #fff;border-bottom: none;display: inline-block;background-color:#eee ;max-width: 780px;width:66%;float: left;}
.row_1 .main_prdt_wrap:before{display: inline-block;content:url(../images/main/bg_mainImg_shadow.png); width: 8px; height: 168px; position: absolute;top: 40px; right: -28px;}
.row_1 .main_prdt_wrap img{width: 100%;}
.row_1 .main_prdt_frame .bx-pager-item{display: inline;margin: 0 10px;}
.row_1 .main_prdt_frame .bx-pager-link{display: inline-block;width: 13px; height: 13px;text-indent: -9999px;background: url(../images/main/mainImg_btn.png) 0 0 no-repeat;}
.row_1 .main_prdt_frame .bx-pager{position: absolute;bottom: 177px;text-align: center; left:0;width: 100%;}
.row_1 .main_prdt_frame .bx-pager-link.active{background: url(../images/main/mainImg_btn_ov.png) 0 0 no-repeat;}
.row_1 .main_prdt_frame .bx-prev,.main_prdt_frame .bx-next{position: absolute;top: 50%; margin-top:-126px;left: 24px;display: inline-block;width:24px; height: 40px;text-indent: -9999px; background: url(../images/main/arrow_left.png) 0 0 no-repeat;}
.row_1 .main_prdt_frame .bx-next{background: url(../images/main/arrow_right.png) 0 0 no-repeat;left:auto; right:24px;}
.row_1 .main_prdt_frame .main_prdt_Slide div {height: 212px;padding: 77px 33px;}
.row_1 .main_prdt_frame .main_prdt_Slide div a h4{font-weight: bold; font-size: 26px; color: #282828;margin-bottom: 13px;}
.row_1 .main_prdt_frame .main_prdt_Slide div a p{font-size: 14px; color: #282828;line-height: 25px;height: 20px;}
.row_2{position: relative;margin-bottom: 86px;}
.row_2 .cot_unesco_wrap{float: left;width: 66%;}
.row_2 .cot_ad_wrap{float: right;width: 25.3%;}
.row_2 .cot_ad_wrap img{max-width: 299px;width: 100%;}
.row_2 .unesco_row_1{width: 100%;background-color: #eee;margin-bottom: 52px;position: relative;}
.row_2 .unesco_row_1:hover h4 a,.row_2 .unesco_row_1:focus h4 a{text-decoration: underline;}
.row_2 .unesco_row_1:before{content: "";width: 100%; height: 1px; background-color: #eee;display: block;position: absolute;bottom:-26px; left: 0}
.row_2 .unesco_row_1>a{display: inline-block;width:49%;}
.row_2 .unesco_row_1 a span img{width: 100%;}
.row_2 .unesco_row_1 div{display: inline-block;width: 50%;vertical-align: top;padding: 19px 23px;}
.row_2 [class^=unesco_row_] div h4 a{font-weight: bold; font-size: 24px; color: #282828;display: inline-block;margin-bottom: 15px;}
.row_2 [class^=unesco_row_] div p{line-height: 22px;height: 66px;overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 3; /* 라인수 */ -webkit-box-orient: vertical;word-wrap:break-word;}
.cot_unesco_wrap .unesco_row_2 {width: 100%;}
.cot_unesco_wrap .unesco_row_2 .unesco_row_2_col_1{display: inline-block;width: 49%;float: left;}
.cot_unesco_wrap .unesco_row_2 .unesco_row_2_col_2{display: inline-block;width: 49%;float: right;}
.cot_unesco_wrap .unesco_row_2 [class^=unesco_row_2_col_]>a:hover h5{text-decoration: underline;}
.cot_unesco_wrap .unesco_row_2 [class^=unesco_row_2_col_]>a img{width:100%;}
.cot_unesco_wrap .unesco_row_2 [class^=unesco_row_2_col_]>a span{margin-bottom: 13px}
.cot_unesco_wrap .unesco_row_2 [class^=unesco_row_2_col_] h5{margin-bottom: 8px;font-weight:bold; color: #282828; font-size: 16px}

.cot_ad_wrap [class^=ad_col_] img{width: 100%;}
.cot_ad_wrap{position: relative;}
.cot_ad_wrap:before{content: "";width: 1px; height: 100%; background-color: #eee;display: block;position: absolute;top:0; left: -19.5%}
.cot_ad_wrap .ad_col_1{margin-bottom: 52px;}

.row_3{position: relative;margin-bottom: 40px;}
.row_3 .whtsOn_row_wrap1{width: 100%;height: 153px; background-color: #fd6602;padding: 32px 29px 36px 32px;margin-bottom: 22px;}
.row_3 .whtsOn_col_1 .whtsList {width:84.5%; height: 41px;text-align: left;background: #fff url(../images/main/arrow_bottom_dark.png) 98% center no-repeat;padding: 0 5px;font-size: 14px;}

.row_3 .whtsOn_row_wrap1 [class^=whtsOn_col_]{display: inline-block; color: #fff;font-weight: bold;}
.row_3 .whtsOn_row_wrap1 [class^=whtsOn_col_] label {display: inline-block;text-align: center;width: 24%; font-size: 16px; font-style: italic;}
.row_3 .whtsOn_row_wrap1 [class^=whtsOn_col_] input {width: 71.5%; height: 41px;background: #fff url(../images/main/calendar.png) 98% center no-repeat;cursor: pointer;}
.row_3 .whtsOn_row_wrap1 .whtsOn_col_1{width: 41%;position: relative;}
.row_3 .whtsOn_row_wrap1 .whtsOn_col_1 p{position: absolute;top:69px; left:68px;font-style: normal; font-size: 14px;}
.row_3 .whtsOn_row_wrap1 .whtsOn_col_1 span{display: inline-block;padding-right: 2%;width: 14%;}
.row_3 .whtsOn_row_wrap1 .whtsOn_col_2,.row_3 .whtsOn_col_3{width: 20%;}
.row_3 .whtsOn_row_wrap1 .whtsOn_col_4{width: 17%;padding-left:3%;}
.row_3 .whtsOn_row_wrap1 .whtsOn_col_4 button[type=submit]{width: 100%; height: 41px; line-height: 41px; color: #fff;; font-size: 16px;background-color: #ad521e;}
.row_3 .whtsOn_row_wrap1 .whtsOn_col_4 button[type=submit] em {margin-left:15%;}
.row_3 .whtsOn_row_wrap1 .whtsOn_col_4 button[type=submit] em img {margin-top:-2px;}
.row_3 .whtsOn_row_wrap1 .specialSch{text-align: right;width: 100%;padding-top: 29px;}
.row_3 .whtsOn_row_wrap1 .specialSch a {color: #fff; font-size: 14px;font-weight: bold;}
.row_3 .whtsOn_row_wrap1 .specialSch em {padding-left: 10px;margin-top:-2px;}
.row_3 .whtsOn_row_wrap1 .specialSch em img{margin-top:-2px;}
.row_3 .whtsOn_row_wrap1 .whtsOn_col_1 ul{display: none;position: absolute;top:41px; left:14.8%;background-color: #fff;width: 84.5%;z-index: 2}
.row_3 .whtsOn_row_wrap1 .whtsOn_col_1 ul li a{display: block;padding: 5px;font-size: 14px; color: #282828;}
.row_3 .whtsOn_row_wrap1 .whtsOn_col_1 ul li a:hover,.row_3 .whtsOn_row_wrap1 .whtsOn_col_1 ul li a:focus{color: #fff; background-color: #666;}
.row_3 .whtsOn_row_wrap2 ul li{float: left;width: 23.68%;margin-left: 1.75%;position: relative;}
.row_3 .whtsOn_row_wrap2 ul li:first-child{margin-left: 0;}
.row_3 .whtsOn_row_wrap2>ul>li>a:first-child{display: block;min-height: 310px}
.row_3 .whtsOn_row_wrap2>ul>li>a:hover h4{text-decoration: underline;}
.row_3 .whtsOn_row_wrap2>ul>li>a>span>img{width: 100%;}
.row_3 .whtsOn_row_wrap2>ul>li h4{color: #282828; font-size: 17px;font-weight: bold;margin-bottom: 10px;}
.row_3 .whtsOn_row_wrap2>ul>li p.date{color: #be4c02; font-size: 13px;font-weight: bold;}
.row_3 .whtsOn_row_wrap2>ul>li p+p{font-size: 13px;color: #282828;}
.row_3 .whtsOn_row_wrap2>ul>li a.applyBtn{position: absolute;bottom: 0; right: 0; width: 102px; height: 28px;display: block;color: #fff;background-color: #393939;text-align: center;line-height: 26px; font-size: 14px; }
.row_3 .whtsOn_row_wrap2>ul>li a.applyBtn em img{padding-left: 20%;margin-top:-1px;}
.row_3 .whtsOn_row_wrap2 a.seeMore{position: absolute;top:0;right: 9px;display: block;width:168px;height: 26px;line-height: 24px;background-color: #eee;text-align: center;font-size: 14px; color: #282828; font-weight: bold;}
.row_3 .whtsOn_row_wrap2 a.seeMore:hover,.row_3 .whtsOn_row_wrap2 a.seeMore:focus{text-decoration: underline;}
.row_3 .whtsOn_row_wrap2 a.seeMore em img{padding-left: 13px;margin-top:-2px;}
.row_3 .whtsOn_row_wrap2 ul li strong{position: absolute;top:0;left: 0;display: block;width: 78px; height: 25px; background: url(../images/main/opaBox_whtsOn.png) 0 0 no-repeat;text-align: center;line-height: 25px; color: #fff;font-size: 14px;z-index: 1;}
.row_3 .whtsOn_row_wrap2>ul>li>a>span{display: block;margin-bottom: 16px;}

.row_4{background-color: #393939;padding: 31px 0 16px 0;margin-bottom: 38px;}
.row_4 .color_wh{color: #fff;}
.row_4 h3:before{background-color: #fff !important;}
.row_4 .video_wrapIn h3{margin-bottom: 20px;}
.row_4 .video_wrapIn .main_vdo_wrap{float: left;width: 50%;}
.row_4 .video_wrapIn .main_vdo{width:97.01%; height: 0;border: 1px solid #fd6602;padding-bottom:56.177%;position: relative;}
.row_4 .video_wrapIn .main_vdo:hover,.row_4 .video_wrapIn .main_vdo:focus{border-color: #fff;}
.row_4 .video_wrapIn .main_vdo iframe{border: none;width: 100%;height: 100%;position: absolute;left: 0;top: 0;}
.row_4 .video_wrapIn ul{float: right;width: 50%;vertical-align: top;text-align: right;}
.row_4 .video_wrapIn ul li{float: left;width: 33.33%;text-align: center;min-height: 178px}
.row_4 .video_wrapIn ul li figure{position: relative;}
.row_4 .video_wrapIn ul li figure:before{content:url(../images/main/vdo_playBtn.png); width: 41px; height: 41px; top: 24px; left: 50%;margin-left: -19px; position: absolute;}
.row_4 .video_wrapIn ul li img{border: 1px solid #fd6602;margin-bottom: 9px;}
.row_4 .video_wrapIn ul li img:hover,.row_4 .video_wrapIn ul li img:focus{border: 1px solid #fff;}
.row_4 .video_wrapIn ul li a {color: #fff;}

@media (max-width:1024px) {
.row_2 .cot_unesco_wrap{width: 100%;float: none;}
.row_2 .cot_unesco_wrap .unesco_row_1{margin-bottom: 22px;}
.row_2 .unesco_row_1:before{display: none;}
.row_2 .unesco_row_2{margin-bottom: 30px;}
.row_2 .cot_unesco_wrap a span{width: 100%;}
.row_2 .cot_ad_wrap{float: none;width: 100%;}
.row_2 .cot_ad_wrap:before{display: none;}
.row_2 .cot_ad_wrap [class^=ad_col_]{float: left;width: 50%;text-align: center}
.row_2 .cot_ad_wrap .ad_col_2{float: right}
.row_4 .video_wrapIn ul li{width: 50%;}
.row_4 .video_wrapIn ul li:first-child+li+li+li+li,.row_4 .video_wrapIn ul li:first-child+li+li+li+li+li{display: none;}
.row_4 .video_wrapIn ul li{min-height: 160px}
}
@media (max-width:800px) {
.row_3 .whtsOn_row_wrap2 ul li{width: 48.99%;margin-bottom: 20px;}
.row_3 .whtsOn_row_wrap2 ul li:first-child+li+li{margin: 0;}
.row_3 .whtsOn_row_wrap2>ul>li>a:first-child{min-height: 350px;}
}
@media (max-width:640px) {
.row_2 .unesco_row_1 div{width: 100%;padding: 0;}
.row_2 .unesco_row_1>a{width: 100%;}
.row_2 [class^=unesco_row_] div h4 a {margin-bottom: 8px;font-weight:bold; color: #282828; font-size: 16px}
.row_2 .cot_unesco_wrap a span{margin-bottom: 13px;}
.cot_unesco_wrap .unesco_row_2 [class^=unesco_row_2_col_]{width: 100%; float: none;}
.row_3 .whtsOn_row_wrap2 ul li,.row_3 .whtsOn_row_wrap2 ul li:first-child+li+li,.row_3 .whtsOn_row_wrap2 ul li:first-child{width: 100%;float:none;margin:0 auto 20px;max-width:400px;min-width: 264px }
.row_3 .whtsOn_row_wrap2>ul>li>a:first-child{min-height: 330px;}
.row_3 .whtsOn_row_wrap2>ul>li>a>span{text-align: center;}
.row_2 .cot_unesco_wrap .unesco_row_1{background-color: #fff;}
.row_4 .video_wrapIn .main_vdo_wrap{width: 100%;padding-bottom: 30px;}
.row_4 .video_wrapIn .main_vdo_wrap .main_vdo{margin: 0 auto;}
.row_4 .video_wrapIn .main_vdo_wrap+ul{display: none;}
.row_2 .cot_ad_wrap{display: none;}
}
