#container{margin: 0;padding-top: 40px;padding-bottom: 109px;}
#container.line:before{top:none; bottom:0;}
.ss_wrapIn{position: relative;padding-bottom: 83px;}
.ss_wrapIn h3{margin: 0;}
.ss_wrapIn.line:before{top:auto; bottom:0;}
.ss_wrapIn .cot_dscp_wrap {float: right;width: 39.66%;height: 385px;}
.ss_wrapIn .cot_dscp_wrap h4{font-size: 14px;color: #282828;}
.ss_wrapIn .cot_dscp_wrap h5{font-size: 28px;color: #282828;font-weight: bold;padding: 30px 0;}
.ss_wrapIn .cot_dscp_wrap p{font-size: 14px;font-weight: bold;padding-bottom: 16px;}
.ss_wrapIn .cot_wrap {float: left;width: 52.58%;}
.ss_wrapIn .img_wrap{position: relative;padding-bottom: 39px;z-index:1;}
.ss_wrapIn .img_wrap .active{position: relative;display: inline-block;}
.ss_wrapIn .img_wrap .active:after{width: 100%; height: 100%;position: absolute; content: "";top:0; left:0;box-shadow: inset 0 0 0 5px rgba(253,102,2,0.7);}
.ss_wrapIn .img_wrap .bx-viewport{margin-bottom: 22px;}
.ss_wrapIn .img_wrap .bx-wrapper img{width: 100%;}
.ss_wrapIn .img_wrap .frame{width: 551px;overflow: hidden;margin: 0 auto;}
.ss_wrapIn .img_wrap #slider_pager{width: 600%;}
.ss_wrapIn .img_wrap #slider_pager a{margin-left: 4px;width: 104px; height: 67px; display: inline-block;background:url(../images/sungsan/ss_subImg_1.png) 0 0 no-repeat;}
.ss_wrapIn .img_wrap #slider_pager a:first-child+a{background-image: url(../images/sungsan/ss_subImg_2.png);}
.ss_wrapIn .img_wrap #slider_pager a:first-child+a+a{background-image: url(../images/sungsan/ss_subImg_3.png);}
.ss_wrapIn .img_wrap #slider_pager a:first-child+a+a+a{background-image: url(../images/sungsan/ss_subImg_4.png);}
.ss_wrapIn .img_wrap #slider_pager a:first-child{margin: 0;}
.ss_wrapIn .img_wrap .bx-prev,.ss_wrapIn .img_wrap .bx-next{position: absolute;top: 50%; margin-top:-67px;left: 24px;display: inline-block;width:24px; height: 40px;text-indent: -9999px; background: url(../images/main/arrow_left.png) 0 0 no-repeat;z-index: 64}
.ss_wrapIn .img_wrap .bx-next{background-image: url(../images/main/arrow_right.png);left:auto; right:24px;}
.ss_wrapIn .img_wrap .btnWrap{position: relative;}
.ss_wrapIn .img_wrap .btnWrap .btnPrev_ss,.ss_wrapIn .img_wrap .btnWrap .btnNext_ss{position: absolute; bottom:28px; left: 13px;background: url(../images/common/2_arrow_prev.png) 0 0 no-repeat;width:7px; height: 13px;text-indent: -9999px;}
.ss_wrapIn .img_wrap .btnWrap .btnNext_ss{background-image: url(../images/common/2_arrow_next.png);left: auto; right:13px;}
.ss_wrapIn .sns_wrap_ss{padding-left: 11px;margin-bottom: 35px;}
.ss_wrapIn .sns_wrap_ss a{transition: transform 200ms ease-in-out, -webkit-transform 200ms ease-in-out;position: relative;display: inline-block; margin-left: 25px;background: url(../images/common/2_sns_1.png) 0 0 no-repeat;width: 30px; height: 40px;text-indent: -9999px;}
.ss_wrapIn .sns_wrap_ss a.sns_1_ss{margin: 0;}
.ss_wrapIn .sns_wrap_ss a.sns_2_ss{background-image: url(../images/common/2_sns_2.png);}
.ss_wrapIn .sns_wrap_ss a.sns_3_ss{background-image: url(../images/common/2_sns_3.png);}
.ss_wrapIn .sns_wrap_ss a.sns_4_ss{background-image: url(../images/common/2_sns_4.png);}
.ss_wrapIn .sns_wrap_ss a.sns_5_ss{background-image: url(../images/common/2_sns_5.png);}
.ss_wrapIn .sns_wrap_ss a.sns_6_ss{background-image: url(../images/common/2_sns_6.png);}
.ss_wrapIn .sns_wrap_ss a:hover,.ss_wrapIn .sns_wrap_ss a:focus{transform: translateY(-5px)}
.ss_wrapIn .dscp_wrap h3{margin-bottom: 30px;}
.ss_wrapIn .etc_wrap h3{cursor: pointer;position: relative;}
.ss_wrapIn .etc_wrap h3:after{content: "";display: inline-block; width: 16px; height: 9px; background: url(../images/sungsan/ss_bullet_arrow.png) 0 0 no-repeat;position: absolute;right:16px; top:38px;transition: all 0.5s linear;}
.ss_wrapIn .etc_wrap h3.on:after{transform: rotate(180deg)}
.ss_wrapIn .etc_wrap h3.line_select{display: block; background: url(../images/common/line.png) 0 0 repeat-x;width: 100%;height:86px;padding: 23px 0 36px;}
.ss_wrapIn .etc_wrap h3.line_select:before{top:62px;}
.ss_wrapIn .etc_wrap h3.line_select+div>p>span{display: block;padding-bottom: 23px;padding-left: 10px;}
.ss_wrapIn .etc_wrap h3.line_select+div{display: none;}
.ss_wrapIn .dscp_wrap p{font-size: 16px;color: #282828; line-height: 24px;padding-bottom: 30px;}
.ss_wrapIn .etc_wrap p{font-size: 14px;border-bottom: 1px solid #eee;margin-bottom: 10px;}

.ss_wrapIn .ad_wrap {float: right;width: 25.25%;margin-right: 85px;}
.ss_wrapIn .ad_wrap img{width: 100%;}
.ss_wrapIn .ad_wrap a{display: block;position: relative;}
.ss_wrapIn .ad_wrap a:first-child{margin-bottom: 51px;}
.ss_wrapIn .ad_wrap a:hover p.more{text-decoration: underline;}
.ss_wrapIn .ad_wrap div {width: 100%;background-color: #393939;text-align: center;color: #fff;height: 70px;padding: 15px 0;font-size: 14px; line-height: 21px;position: absolute;bottom:0; left:0; z-index: 20;}
.ss_wrapIn .ad_wrap p.more{font-size: 12px;}
@media (max-width:1024px) {
.ss_wrapIn .cot_dscp_wrap {display: block;height: 189px;width: 100%;float: none;}
.ss_wrapIn .cot_wrap{display: block;width: 100%;float: none;}
.ss_wrapIn .img_wrap{max-width: 640px;margin: 0 auto;}
.ss_wrapIn{max-width: 664px}
.ss_wrapIn .cot_dscp_wrap h5{padding: 14px 0;}
.ss_wrapIn .cot_dscp_wrap p{padding-bottom: 9px;}
.ss_wrapIn .ad_wrap {display: none;}
}
@media (max-width:800px) {
.ss_wrapIn .img_wrap #slider_pager a,.ss_wrapIn .img_wrap #slider_pager a:first-child+a,.ss_wrapIn .img_wrap #slider_pager a:first-child+a+a,.ss_wrapIn .img_wrap #slider_pager a:first-child+a+a+a{width: 13px; height: 13px;background: url(../images/main/mainImg_btn.png) 0 0 no-repeat;}
#container .ss_wrapIn .img_wrap a.active,.ss_wrapIn .img_wrap #slider_pager a:first-child+a.active,.ss_wrapIn .img_wrap #slider_pager a:first-child+a+a.active,.ss_wrapIn .img_wrap #slider_pager a:first-child+a+a+a.active{width: 13px; height: 13px;background: url(../images/main/mainImg_btn_ov.png) 0 0 no-repeat;}
.ss_wrapIn .img_wrap a.active:after,.ss_wrapIn .img_wrap .btnWrap{display: none;}
.ss_wrapIn .img_wrap .frame{width: auto;position: relative;left: 50%; margin-left: -54px;}
.ss_wrapIn .cot_dscp_wrap h5{padding: 8px 0 ;font-size: 24px;}
.ss_wrapIn .cot_dscp_wrap p{font-size: 12px;}
.ss_wrapIn .cot_dscp_wrap{height: 145px;}
}
@media (max-width:640px) {
.ss_wrapIn .sns_wrap_ss a{margin-left: 13px;}
.ss_wrapIn .etc_wrap p{font-size: 12px;}
}



